@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.weather-card {
  display: flex;
  justify-content: space-between;
}

.app-header {
  font-size: 25px;
  font-family: Poppins;
  margin: 20px;
}
.weather-card-child {
  font-family: Poppins !important;
}